body {
    margin: 0;
    background: white;
}

#transicao {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#transicao img {
    width: 220px;
    mix-blend-mode: multiply;
    animation: logo 2s forwards;
}

@keyframes logo {
    0%       { opacity: 0; transform: scale(.8); }
    40%, 70% { opacity: 1; transform: scale(1); }
    100%     { opacity: 0; transform: scale(1.1); }
}
